name: Prepare Build

on:
  workflow_call

jobs:
# The IFs fail here for some reason, I don't know why. This means we re-cache the dlls unecessarily
  cache-dlls:
    runs-on: windows-latest
    steps:
      - name: Restore Neos DLL Cache
        id: cache-neos-dlls
        uses: actions/cache/restore@v3
        with:
          path: |
            ExternalLibraries/BaseX.dll
            ExternalLibraries/CloudX.Shared.dll
            ExternalLibraries/CodeX.dll
          key: neos-dlls
          lookup-only: true
          enableCrossOsArchive: true
      - name: Download Neos
        if: steps.cache-neos-dlls.cache-hit != 'true'
        shell: pwsh
        run: Invoke-WebRequest -Uri "https://assets.neos.com/install/Pro/Data/2022.1.28.1310_SSL_FIX.7z" -OutFile Neos.7z
      - name: Extract Neos
        if: steps.cache-neos-dlls.cache-hit != 'true'
        shell: cmd
        run: |
          7z x -y Neos.7z -oNeos
          del Neos.7z
      - name: Relocate DLLS
        if: steps.cache-neos-dlls.cache-hit != 'true'
        shell: cmd
        run: |
          mkdir ExternalLibraries
          mv Neos/Neos_Data/Managed/BaseX.dll ExternalLibraries/
          mv Neos/Neos_Data/Managed/CloudX.Shared.dll ExternalLibraries/
          mv Neos/Neos_Data/Managed/CodeX.dll ExternalLibraries/
      - name: Save Needed DLLs to Cache
        if: steps.cache-neos-dlls.cache-hit != 'true'
        id: save-cache
        uses: actions/cache/save@v3
        with:
          path: |
            ExternalLibraries/BaseX.dll
            ExternalLibraries/CloudX.Shared.dll
            ExternalLibraries/CodeX.dll
          key: neos-dlls
          enableCrossOsArchive: true
