name: Release App

on:
  push:
    tags:
    - 'v*'

jobs:
  prepare:
    uses: ./.github/workflows/prepare.yml
  release-windows:
    needs: [prepare]
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET 7
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore Neos DLL Cache
      id: cache-neos-dlls
      uses: actions/cache/restore@v3
      with:
        path: |
          ExternalLibraries/BaseX.dll
          ExternalLibraries/CloudX.Shared.dll
          ExternalLibraries/CodeX.dll
        key: neos-dlls
        fail-on-cache-miss: true
        enableCrossOsArchive: true
    - name: Copy Contributors
      run: |
        cp .all-contributorsrc AccountDownloader/Assets
    - name: Build Windows App
      run: |
        cd AccountDownloader
        dotnet publish -c Release -r win-x64 --self-contained -p:SourceRevisionId=${{github.run_id}}
    - name: Archive Artifact
      run: |
        cd AccountDownloader/bin/Release/net7.0/win-x64/publish
        powershell Compress-Archive -Path .\* -DestinationPath AccountDownloaderWindows.zip
    - name: Upload Release Asset
      id: upload-release-asset
      uses: svenstaro/upload-release-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ./AccountDownloader/bin/Release/net7.0/win-x64/publish/AccountDownloaderWindows.zip
        asset_name: AccountDownloaderWindows-${{github.ref_name}}.zip
  release-linux:
    needs: [prepare]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 7
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore Neos DLL Cache
      id: cache-neos-dlls
      uses: actions/cache/restore@v3
      with:
        path: |
          ExternalLibraries/BaseX.dll
          ExternalLibraries/CloudX.Shared.dll
          ExternalLibraries/CodeX.dll
        key: neos-dlls
        fail-on-cache-miss: true
        enableCrossOsArchive: true
    - name: Copy Contributors
      run: |
        cp .all-contributorsrc AccountDownloader/Assets
    - name: Build Linux app
      run: |
        cd AccountDownloader
        dotnet publish -c Release -r linux-x64 --self-contained=true -p:SourceRevisionId=${{github.run_id}}
    - name: Archive Artifact
      run: |
        cd AccountDownloader/bin/Release/net7.0/linux-x64/publish
        tar -czvf AccountDownloaderLinux.tar.gz ./*
    - name: Upload Release Asset
      id: upload-release-asset
      uses: svenstaro/upload-release-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: AccountDownloader/bin/Release/net7.0/linux-x64/publish/AccountDownloaderLinux.tar.gz
        asset_name: AccountDownloaderLinux-${{github.ref_name}}.tar.gz
